.Form {
  display: block;
  margin: .5em;
  legend {
    text-align: center;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  fieldset {
    margin-bottom: .5em;
  }
  button {
    display: block;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    background-color: white;
  }
  
}
.radio {
  display: flex;
  input {
    width: 1em;
    margin-left: .75em;
  }
}