.Select {
  text-align: center;
  padding: .5em;
  select {
    display: block;
    margin: auto;
    padding: 1em;
    font-size: .8em;
  }
  input {
    margin: auto;
    text-align: center;
    display: block;
    width: 4em;
    padding: .5em;
  }
  label {
    font-weight: 800;
  }
}
